In [25]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import os
from os.path import isfile, join, dirname
from pandas_profiling import ProfileReport

In [3]:
data_path = '/mnt/d/3_DataViz/2_glaciers/2_RGI/'
pathfile = dirname(data_path)
onlyfiles = [f for f in os.listdir(data_path) if isfile(join(data_path, f)) if os.path.splitext(data_path+f)[1]=='.shp']
print(len(onlyfiles))

63

In [5]:
#load the first shp
gdf = gpd.read_file(data_path+onlyfiles[0])

In [6]:
#load all others shp
#for fi in range(1,len(onlyfiles)):
#    gdf_tempo = gpd.read_file(data_path+onlyfiles[fi])
#    gdf_tempo['file']=onlyfiles[fi]
#    gdf = gpd.GeoDataFrame(pd.concat([gdf,gdf_tempo], ignore_index=True), crs=gdf.crs)

#read the pickle file
gdf = pd.read_pickle('/mnt/d/3_DataViz/2_glaciers/2_RGI/glaciers.pkl')

In [8]:
gdf.shape

(206549, 39)

In [7]:
#save geodataframe as pickle
#gdf.to_pickle('/mnt/d/3_DataViz/2_glaciers/2_shp/glaciers.pkl')

In [9]:
gdf.head(5)

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,...,Smed,Smin,Smax,Siqr,Hmed,Hmax,Hiqr,Area_new_k,geometry,file
0,RGI60-01.08083,G193267E53608N,20090826,-9999999,-166.0,53.0,1,3,0.0,625.0,...,0.31,0.28,0.35,0.03,29.0,42.0,14.0,None,"POLYGON ((-18560419.043 7096027.317, -18560582...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
1,RGI60-01.08084,G193301E53604N,20090826,-9999999,-166.0,53.0,1,3,0.0,676.0,...,0.50,0.46,0.52,0.03,30.0,78.0,34.0,None,"POLYGON ((-18556721.714 7095382.891, -18556918...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
2,RGI60-01.08085,G193291E53605N,20090826,-9999999,-166.0,53.0,1,3,0.0,572.0,...,0.48,0.38,0.55,0.10,28.0,108.0,33.0,None,"POLYGON ((-18558104.898 7095985.027, -18558057...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
3,RGI60-01.08086,G193277E53605N,20090826,-9999999,-166.0,53.0,1,3,0.0,640.0,...,0.27,0.24,0.33,0.02,82.0,194.0,78.0,None,"POLYGON ((-18559404.672 7094831.907, -18559462...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
4,RGI60-01.08087,G193200E53595N,20090826,-9999999,-166.0,53.0,1,3,0.0,774.0,...,0.41,0.34,0.47,0.07,27.0,88.0,33.0,None,"POLYGON ((-18568142.814 7093373.677, -18568236...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...

In [9]:
# quick overview of the dataset
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 413098 entries, 0 to 413097
Data columns (total 40 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   RGIId       413076 non-null  object
 1   GLIMSId     413076 non-null  object
 2   BgnDate     413076 non-null  object
 3   EndDate     413076 non-null  object
 4   CenLon      413076 non-null  object
 5   CenLat      413076 non-null  object
 6   O1Region    413076 non-null  object
 7   O2Region    413076 non-null  object
 8   Area        413076 non-null  object
 9   Zmin        413076 non-null  object
 10  Zmax        413076 non-null  object
 11  Zmed        413076 non-null  object
 12  Slope       413076 non-null  object
 13  Aspect      413076 non-null  object
 14  Lmax        413076 non-null  object
 15  Status      413098 non-null  object
 16  Connect     413076 non-null  object
 17  Form        413076 non-null  object
 18  TermType    413076 non-null  object
 19  Surging     413076 non-null  object
 20  Linkages    413076 non-null  object
 21  Name        83556 non-null   object
 22  Vmed        389716 non-null  float64
 23  Vmax        390078 non-null  float64
 24  Viqr        389896 non-null  float64
 25  Zmed_new    412998 non-null  float64
 26  Zmax_new    413098 non-null  int64
 27  Zmin_new    412104 non-null  float64
 28  Ziqr_new    413030 non-null  float64
 29  Smed        404182 non-null  float64
 30  Smin        404182 non-null  float64
 31  Smax        404182 non-null  float64
 32  Siqr        404182 non-null  float64
 33  Hmed        394514 non-null  float64
 34  Hmax        403830 non-null  float64
 35  Hiqr        404132 non-null  float64
 36  Area_new_k  0 non-null       object
 37  aire        32040 non-null   float64
 38  geometry    413098 non-null  geometry
 39  file        206549 non-null  object
dtypes: float64(14), geometry(1), int64(1), object(24)
memory usage: 126.1+ MB

In [55]:
print(gdf.shape)

(206549, 39)

In [56]:
#Return number of unique elements in the object.
gdf.nunique()

RGIId         201498
GLIMSId       201421
BgnDate          509
EndDate           46
CenLon         17197
CenLat         17050
O1Region          19
O2Region           9
Area            6153
Zmin            7074
Zmax            7819
Zmed            7246
Slope            804
Aspect           672
Lmax           11875
Status             3
Connect            4
Form               3
TermType           5
Surging            7
Linkages           4
Name           33675
Vmed            6031
Vmax           19962
Viqr            7827
Zmed_new        6575
Zmax_new        7084
Zmin_new        6403
Ziqr_new        1282
Smed             103
Smin             102
Smax             140
Siqr              66
Hmed             460
Hmax             843
Hiqr             393
Area_new_k         0
geometry      203451
file              62
dtype: int64

In [101]:
#Returns how much memory each column uses in bytes
#gdf.memory_usage( )

In [10]:
#Returns a boolean Series denoting duplicate rows.
duplicated= gdf.duplicated( )
print('duplicated rows :',duplicated.sum())
print('Nombre d enregistrement: ',len(gdf))

duplicated rows : 81
Nombre d enregistrement:  206549

In [58]:
#Return the number of missing values in each column.
gdf.isnull( ).sum( )

RGIId             11
GLIMSId           11
BgnDate           11
EndDate           11
CenLon            11
CenLat            11
O1Region          11
O2Region          11
Area              11
Zmin              11
Zmax              11
Zmed              11
Slope             11
Aspect            11
Lmax              11
Status             0
Connect           11
Form              11
TermType          11
Surging           11
Linkages          11
Name          164771
Vmed           11691
Vmax           11510
Viqr           11601
Zmed_new          50
Zmax_new           0
Zmin_new         497
Ziqr_new          34
Smed            4458
Smin            4458
Smax            4458
Siqr            4458
Hmed            9292
Hmax            4634
Hiqr            4483
Area_new_k    206549
geometry           0
file               0
dtype: int64

In [59]:
#get a Series containing counts of unique values
print(gdf['RGIId'].value_counts())

RGI60-13.51170    3
RGI60-13.04317    3
RGI60-13.51115    3
RGI60-13.51109    3
RGI60-13.04316    3
                 ..
RGI60-05.19472    1
RGI60-01.08492    1
RGI60-14.26393    1
RGI60-13.34320    1
RGI60-05.11465    1
Name: RGIId, Length: 201498, dtype: int64

In [11]:
#supression des doublons
clean_gdf= gdf.drop_duplicates(subset=['RGIId'])
print('Nombre d enregistrement: ',len(clean_gdf))

Nombre d enregistrement:  201499

In [15]:
#vÃ©rifie si plus de doublon avec RGIid
#print(clean_gdf['RGIId'].value_counts())

RGI60-01.07021    1
RGI60-02.10459    1
RGI60-01.11529    1
RGI60-05.10071    1
RGI60-01.13588    1
                 ..
RGI60-13.31851    1
RGI60-14.04517    1
RGI60-01.11489    1
RGI60-17.15818    1
RGI60-11.01751    1
Name: RGIId, Length: 201311, dtype: int64

In [61]:
#VÃ©rification des attributs nuls
clean_gdf.isnull( ).sum( )

RGIId              1
GLIMSId            1
BgnDate            1
EndDate            1
CenLon             1
CenLat             1
O1Region           1
O2Region           1
Area               1
Zmin               1
Zmax               1
Zmed               1
Slope              1
Aspect             1
Lmax               1
Status             0
Connect            1
Form               1
TermType           1
Surging            1
Linkages           1
Name          160696
Vmed           10619
Vmax           10438
Viqr           10529
Zmed_new          50
Zmax_new           0
Zmin_new         497
Ziqr_new          34
Smed            4206
Smin            4206
Smax            4206
Siqr            4206
Hmed            8094
Hmax            3911
Hiqr            3760
Area_new_k    201499
geometry           0
file               0
dtype: int64

In [12]:
#display all columns
pd.set_option('display.max_columns', None)

#crÃ©ation dataset avec Vmed missing value
Vmednull=clean_gdf.loc[clean_gdf['Vmed'].isnull()]
print("Vmed missing for:", len(Vmednull))

#crÃ©ation dataset avec Vmed non missing value
clean_gdf_vmed=clean_gdf.loc[clean_gdf['Vmed'].notnull()]
print("final dataset :", len(clean_gdf_vmed))

Vmed missing for: 10619
final dataset : 190880

In [67]:
#identifier les rÃ©gions d'appartenances pour Vmed missing value
print(iVmednull['RGIId'].str.slice(6,8,1).unique())
print(iVmednull['file'].value_counts())

['01' '16' '04' '03' '17' '10' '12' '05' '13' '15' '14' '18' '08' '09'
 '02']
RGI_WEST_CANADA_3B_Millanetal_v05May2021_3857.shp                  2246
RGI_WEST_CANADA_2B_Millanetal_v05May2021_3857.shp                  1527
RGI_HIMALAYA_EASTERN_Millanetal_v04May2021_3857.shp                1442
RGI_NORWAY_2_Millanetal_v06May2021_3857.shp                         666
RGI_HIMALAYA_KUNLUN2_Millanetal_v05May2021_3857.shp                 526
RGI_HIMALAYA_KARAKORAM_Millanetal_v05May2021_3857.shp               487
RGI_NORWAY_1_Millanetal_v06May2021_3857.shp                         442
RGI_WEST_CANADA_1B_Millanetal_v04May2021_3857.shp                   415
RGI_HIMALAYA_INNERTP2_Millanetal_v05May2021_3857.shp                344
RGI_CANADIAN_ARCTIC_Millanetal_v06May2021_3857.shp                  333
RGI_ANDES_CROYAL_Millanetal_v04May2021_3857.shp                     305
RGI_BAFFIN_1_Millanetal_v05May2021_3857.shp                         255
RGI_ANDES_CBLANCA_Millanetal_v05May2021_3857.shp                    243
RGI_CORDILLERA_SOUTH_6_Millanetal_v05May2021_3857.shp               221
RGI_WEST_CANADA_4B_Millanetal_v18May2021_3857.shp                   208
RGI_EAST_RUSSIA_2_Millanetal_v04May2021_3857.shp                    185
RGI_BAFFIN_2_Millanetal_v06May2021_3857.shp                         133
RGI_ALASKA_Millanetal_v29Apr2021_3857.shp                           116
RGI_CORDILLERA_SOUTH_3_Millanetal_v04May2021_3857.shp                99
RGI_GREENLAND_CENTRALEAST_Millanetal_v06May2021_3857.shp             83
RGI_HIMALAYA_WEST_Millanetal_v05May2021_3857.shp                     71
RGI_GREENLAND_NORTHEAST_Millanetal_v06May2021_3857.shp               70
RGI_GEORGIA_Millanetal_v05May2021_3857.shp                           63
RGI_GREENLAND_SOUTHEAST_Millanetal_v18May2021_3857.shp               45
RGI_CORDILLERA_SOUTH_5_Millanetal_v06May2021_3857.shp                31
RGI_RUSSIAN_ARCTIC_NOVAYA_ZEMLYA_Millanetal_v06May2021_3857.shp      25
RGI_EAST_RUSSIA_1_Millanetal_v05May2021_3857.shp                     13
RGI_GREENLAND_NORTHWEST_Millanetal_v05May2021_3857.shp                9
RGI_NEW_ZEALAND_Millanetal_v05May2021_3857.shp                        8
RGI_CORDILLERA_SOUTH_7_Millanetal_v05May2021_3857.shp                 3
RGI_HIMALAYA_BHUTAN_Millanetal_v18May2021_3857.shp                    3
RGI_GREENLAND_NORTH_Millanetal_v06May2021_3857.shp                    1
RGI_CORDILLERADARWIN_CHILE_Millanetal_v06May2021_3857.shp             1
Name: file, dtype: int64

In [24]:

clean_gdf_vmed[['Vmed']].describe()

                Vmed
count  190880.000000
mean        7.642621
std        10.786227
min         0.000000
25%         2.440000
50%         4.960000
75%         9.140000
max       584.910000

In [27]:
fig1, ax1 = plt.subplots()
ax1.set_title('Basic Plot')
ax1.boxplot(clean_gdf_vmed[['Vmed']])

AttributeError: module 'matplotlib' has no attribute 'subplots'

In [13]:
list(clean_gdf_vmed.columns)

['RGIId',
 'GLIMSId',
 'BgnDate',
 'EndDate',
 'CenLon',
 'CenLat',
 'O1Region',
 'O2Region',
 'Area',
 'Zmin',
 'Zmax',
 'Zmed',
 'Slope',
 'Aspect',
 'Lmax',
 'Status',
 'Connect',
 'Form',
 'TermType',
 'Surging',
 'Linkages',
 'Name',
 'Vmed',
 'Vmax',
 'Viqr',
 'Zmed_new',
 'Zmax_new',
 'Zmin_new',
 'Ziqr_new',
 'Smed',
 'Smin',
 'Smax',
 'Siqr',
 'Hmed',
 'Hmax',
 'Hiqr',
 'Area_new_k',
 'geometry',
 'file']

In [19]:
clean_gdf_vmed[['RGIId','O1Region','O2Region','Area', 'Slope', 'Aspect', 'Lmax', 'Vmed', 'Vmax', 'Zmed_new', 'Zmax_new', 'Zmin_new', 'Smed','Smin', 'Smax', 'Hmed', 'Hmax' ]].to_csv('/mnt/d/3_DataViz/2_glaciers/2_RGI/glaciers_d3.csv',sep=',')

In [ ]:
# generate the report
profile = ProfileReport(gdf, title="Pandas Profiling Report")

In [ ]:
#save geodataframe as pickle
gdf.to_pickle('/mnt/d/3_DataViz/2_glaciers/2_shp/duplicated_glaciers.pkl')