In [2]:
import geopandas as gpd
import pandas as pd
import os
from os.path import isfile, join, dirname
from pandas_profiling import ProfileReport

In [3]:
data_path = '/mnt/d/3_DataViz/2_glaciers/2_shp/'
pathfile = dirname(data_path)
onlyfiles = [f for f in os.listdir(data_path) if isfile(join(data_path, f)) if os.path.splitext(data_path+f)[1]=='.shp']
print(len(onlyfiles))

62

In [47]:
#load the first shp
gdf = gpd.read_file(data_path+onlyfiles[0])

In [50]:
#load all others shp
for fi in range(1,len(onlyfiles)):
    gdf_tempo = gpd.read_file(data_path+onlyfiles[fi])
    gdf_tempo['file']=onlyfiles[fi]
    gdf = gpd.GeoDataFrame(pd.concat([gdf,gdf_tempo], ignore_index=True), crs=gdf.crs)

In [51]:
gdf.shape

(206549, 39)

In [52]:
#save geodataframe as pickle
gdf.to_pickle('/mnt/d/3_DataViz/2_glaciers/2_shp/glaciers.pkl')
#read the pickle file
#gdf1 = pd.read_pickle('123.pkl')

In [53]:
gdf.head(5)

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name,Vmed,Vmax,Viqr,Zmed_new,Zmax_new,Zmin_new,Ziqr_new,Smed,Smin,Smax,Siqr,Hmed,Hmax,Hiqr,Area_new_k,geometry,file
0,RGI60-01.08083,G193267E53608N,20090826,-9999999,-166.0,53.0,1,3,0.0,625.0,769.0,671.0,29.0,36.0,-9.0,0,0.0,0.0,0.0,9.0,9.0,None,12.14,40.88,23.98,698.0,754,619.0,57.0,0.31,0.28,0.35,0.03,29.0,42.0,14.0,None,"POLYGON ((-18560419.043 7096027.317, -18560582...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
1,RGI60-01.08084,G193301E53604N,20090826,-9999999,-166.0,53.0,1,3,0.0,676.0,897.0,766.0,27.0,108.0,325.0,0,0.0,0.0,0.0,9.0,9.0,None,25.81,101.62,38.38,775.0,858,690.0,71.0,0.50,0.46,0.52,0.03,30.0,78.0,34.0,None,"POLYGON ((-18556721.714 7095382.891, -18556918...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
2,RGI60-01.08085,G193291E53605N,20090826,-9999999,-166.0,53.0,1,3,0.0,572.0,909.0,809.0,28.0,28.0,680.0,0,0.0,0.0,0.0,9.0,9.0,None,14.10,238.17,41.41,813.0,909,584.0,114.0,0.48,0.38,0.55,0.10,28.0,108.0,33.0,None,"POLYGON ((-18558104.898 7095985.027, -18558057...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
3,RGI60-01.08086,G193277E53605N,20090826,-9999999,-166.0,53.0,1,3,0.0,640.0,912.0,744.0,17.0,351.0,922.0,0,0.0,0.0,0.0,9.0,9.0,None,25.71,353.67,49.55,760.0,896,650.0,92.0,0.27,0.24,0.33,0.02,82.0,194.0,78.0,None,"POLYGON ((-18559404.672 7094831.907, -18559462...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...
4,RGI60-01.08087,G193200E53595N,20090826,-9999999,-166.0,53.0,1,3,0.0,774.0,892.0,808.0,20.0,254.0,352.0,0,0.0,0.0,0.0,9.0,9.0,None,7.01,174.77,44.06,829.0,919,784.0,49.0,0.41,0.34,0.47,0.07,27.0,88.0,33.0,None,"POLYGON ((-18568142.814 7093373.677, -18568236...",RGI_ALASKA_EASTERN_2_Millanetal_v06May2021_385...

In [54]:
# quick overview of the dataset
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 206549 entries, 0 to 206548
Data columns (total 39 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   RGIId       206538 non-null  object
 1   GLIMSId     206538 non-null  object
 2   BgnDate     206538 non-null  object
 3   EndDate     206538 non-null  object
 4   CenLon      206538 non-null  object
 5   CenLat      206538 non-null  object
 6   O1Region    206538 non-null  object
 7   O2Region    206538 non-null  object
 8   Area        206538 non-null  object
 9   Zmin        206538 non-null  object
 10  Zmax        206538 non-null  object
 11  Zmed        206538 non-null  object
 12  Slope       206538 non-null  object
 13  Aspect      206538 non-null  object
 14  Lmax        206538 non-null  object
 15  Status      206549 non-null  object
 16  Connect     206538 non-null  object
 17  Form        206538 non-null  object
 18  TermType    206538 non-null  object
 19  Surging     206538 non-null  object
 20  Linkages    206538 non-null  object
 21  Name        41778 non-null   object
 22  Vmed        194858 non-null  float64
 23  Vmax        195039 non-null  float64
 24  Viqr        194948 non-null  float64
 25  Zmed_new    206499 non-null  float64
 26  Zmax_new    206549 non-null  int64
 27  Zmin_new    206052 non-null  float64
 28  Ziqr_new    206515 non-null  float64
 29  Smed        202091 non-null  float64
 30  Smin        202091 non-null  float64
 31  Smax        202091 non-null  float64
 32  Siqr        202091 non-null  float64
 33  Hmed        197257 non-null  float64
 34  Hmax        201915 non-null  float64
 35  Hiqr        202066 non-null  float64
 36  Area_new_k  0 non-null       object
 37  geometry    206549 non-null  geometry
 38  file        206549 non-null  object
dtypes: float64(13), geometry(1), int64(1), object(24)
memory usage: 61.5+ MB

In [55]:
print(gdf.shape)

(206549, 39)

In [56]:
#Return number of unique elements in the object.
gdf.nunique()

RGIId         201498
GLIMSId       201421
BgnDate          509
EndDate           46
CenLon         17197
CenLat         17050
O1Region          19
O2Region           9
Area            6153
Zmin            7074
Zmax            7819
Zmed            7246
Slope            804
Aspect           672
Lmax           11875
Status             3
Connect            4
Form               3
TermType           5
Surging            7
Linkages           4
Name           33675
Vmed            6031
Vmax           19962
Viqr            7827
Zmed_new        6575
Zmax_new        7084
Zmin_new        6403
Ziqr_new        1282
Smed             103
Smin             102
Smax             140
Siqr              66
Hmed             460
Hmax             843
Hiqr             393
Area_new_k         0
geometry      203451
file              62
dtype: int64

In [101]:
#Returns how much memory each column uses in bytes
#gdf.memory_usage( )

In [57]:
#Returns a boolean Series denoting duplicate rows.
duplicated= gdf.duplicated( )
print('duplicated rows :',duplicated.sum())
print('Nombre d enregistrement: ',len(gdf))

duplicated rows : 81
Nombre d enregistrement:  206549

In [58]:
#Return the number of missing values in each column.
gdf.isnull( ).sum( )

RGIId             11
GLIMSId           11
BgnDate           11
EndDate           11
CenLon            11
CenLat            11
O1Region          11
O2Region          11
Area              11
Zmin              11
Zmax              11
Zmed              11
Slope             11
Aspect            11
Lmax              11
Status             0
Connect           11
Form              11
TermType          11
Surging           11
Linkages          11
Name          164771
Vmed           11691
Vmax           11510
Viqr           11601
Zmed_new          50
Zmax_new           0
Zmin_new         497
Ziqr_new          34
Smed            4458
Smin            4458
Smax            4458
Siqr            4458
Hmed            9292
Hmax            4634
Hiqr            4483
Area_new_k    206549
geometry           0
file               0
dtype: int64

In [59]:
#get a Series containing counts of unique values
print(gdf['RGIId'].value_counts())

RGI60-13.51170    3
RGI60-13.04317    3
RGI60-13.51115    3
RGI60-13.51109    3
RGI60-13.04316    3
                 ..
RGI60-05.19472    1
RGI60-01.08492    1
RGI60-14.26393    1
RGI60-13.34320    1
RGI60-05.11465    1
Name: RGIId, Length: 201498, dtype: int64

In [60]:
clean_gdf= gdf.drop_duplicates(subset=['RGIId'])
print('Nombre d enregistrement: ',len(clean_gdf))

Nombre d enregistrement:  201499

In [15]:
#vérifie si plus de doublon avec RGIid
#print(clean_gdf['RGIId'].value_counts())

RGI60-01.07021    1
RGI60-02.10459    1
RGI60-01.11529    1
RGI60-05.10071    1
RGI60-01.13588    1
                 ..
RGI60-13.31851    1
RGI60-14.04517    1
RGI60-01.11489    1
RGI60-17.15818    1
RGI60-11.01751    1
Name: RGIId, Length: 201311, dtype: int64

In [61]:
#Vérification des attributs nuls
clean_gdf.isnull( ).sum( )

RGIId              1
GLIMSId            1
BgnDate            1
EndDate            1
CenLon             1
CenLat             1
O1Region           1
O2Region           1
Area               1
Zmin               1
Zmax               1
Zmed               1
Slope              1
Aspect             1
Lmax               1
Status             0
Connect            1
Form               1
TermType           1
Surging            1
Linkages           1
Name          160696
Vmed           10619
Vmax           10438
Viqr           10529
Zmed_new          50
Zmax_new           0
Zmin_new         497
Ziqr_new          34
Smed            4206
Smin            4206
Smax            4206
Siqr            4206
Hmed            8094
Hmax            3911
Hiqr            3760
Area_new_k    201499
geometry           0
file               0
dtype: int64

In [62]:
#display all columns
pd.set_option('display.max_columns', None)
iVmednull=clean_gdf.loc[clean_gdf['Vmed'].isnull()]
len(iVmednull)

10619

In [67]:
#identifier les régions d'appartenances
print(iVmednull['RGIId'].str.slice(6,8,1).unique())
print(iVmednull['file'].value_counts())

['01' '16' '04' '03' '17' '10' '12' '05' '13' '15' '14' '18' '08' '09'
 '02']
RGI_WEST_CANADA_3B_Millanetal_v05May2021_3857.shp                  2246
RGI_WEST_CANADA_2B_Millanetal_v05May2021_3857.shp                  1527
RGI_HIMALAYA_EASTERN_Millanetal_v04May2021_3857.shp                1442
RGI_NORWAY_2_Millanetal_v06May2021_3857.shp                         666
RGI_HIMALAYA_KUNLUN2_Millanetal_v05May2021_3857.shp                 526
RGI_HIMALAYA_KARAKORAM_Millanetal_v05May2021_3857.shp               487
RGI_NORWAY_1_Millanetal_v06May2021_3857.shp                         442
RGI_WEST_CANADA_1B_Millanetal_v04May2021_3857.shp                   415
RGI_HIMALAYA_INNERTP2_Millanetal_v05May2021_3857.shp                344
RGI_CANADIAN_ARCTIC_Millanetal_v06May2021_3857.shp                  333
RGI_ANDES_CROYAL_Millanetal_v04May2021_3857.shp                     305
RGI_BAFFIN_1_Millanetal_v05May2021_3857.shp                         255
RGI_ANDES_CBLANCA_Millanetal_v05May2021_3857.shp                    243
RGI_CORDILLERA_SOUTH_6_Millanetal_v05May2021_3857.shp               221
RGI_WEST_CANADA_4B_Millanetal_v18May2021_3857.shp                   208
RGI_EAST_RUSSIA_2_Millanetal_v04May2021_3857.shp                    185
RGI_BAFFIN_2_Millanetal_v06May2021_3857.shp                         133
RGI_ALASKA_Millanetal_v29Apr2021_3857.shp                           116
RGI_CORDILLERA_SOUTH_3_Millanetal_v04May2021_3857.shp                99
RGI_GREENLAND_CENTRALEAST_Millanetal_v06May2021_3857.shp             83
RGI_HIMALAYA_WEST_Millanetal_v05May2021_3857.shp                     71
RGI_GREENLAND_NORTHEAST_Millanetal_v06May2021_3857.shp               70
RGI_GEORGIA_Millanetal_v05May2021_3857.shp                           63
RGI_GREENLAND_SOUTHEAST_Millanetal_v18May2021_3857.shp               45
RGI_CORDILLERA_SOUTH_5_Millanetal_v06May2021_3857.shp                31
RGI_RUSSIAN_ARCTIC_NOVAYA_ZEMLYA_Millanetal_v06May2021_3857.shp      25
RGI_EAST_RUSSIA_1_Millanetal_v05May2021_3857.shp                     13
RGI_GREENLAND_NORTHWEST_Millanetal_v05May2021_3857.shp                9
RGI_NEW_ZEALAND_Millanetal_v05May2021_3857.shp                        8
RGI_CORDILLERA_SOUTH_7_Millanetal_v05May2021_3857.shp                 3
RGI_HIMALAYA_BHUTAN_Millanetal_v18May2021_3857.shp                    3
RGI_GREENLAND_NORTH_Millanetal_v06May2021_3857.shp                    1
RGI_CORDILLERADARWIN_CHILE_Millanetal_v06May2021_3857.shp             1
Name: file, dtype: int64

In [23]:
#display all columns
pd.set_option('display.max_columns', None)
# check doublons for a specific id
doublons = clean_gdf.loc[clean_gdf['RGIId']== 'RGI60-13.51174']
doublons.head(3)

,RGIId,GLIMSId,BgnDate,EndDate,CenLon,CenLat,O1Region,O2Region,Area,Zmin,Zmax,Zmed,Slope,Aspect,Lmax,Status,Connect,Form,TermType,Surging,Linkages,Name,Vmed,Vmax,Viqr,Zmed_new,Zmax_new,Zmin_new,Ziqr_new,Smed,Smin,Smax,Siqr,Hmed,Hmax,Hiqr,Area_new_k,geometry
92162,RGI60-13.51174,G082531E31034N,20090918,-9999999,82.0,31.0,13,8,0.0,6220.0,6296.0,6257.0,22.0,93.0,177.0,0,0.0,0.0,0.0,9.0,9.0,None,2.42,22.96,1.82,6240.0,6289,6193.0,46.0,0.61,0.6,0.62,0.01,11.0,25.0,16.0,None,"POLYGON ((9187391.715 3637364.446, 9187395.330..."
92653,RGI60-13.51174,G082531E31034N,20090918,-9999999,82.0,31.0,13,8,0.0,6220.0,6296.0,6257.0,22.0,93.0,177.0,0,0.0,0.0,0.0,9.0,9.0,None,2.42,22.96,1.82,6240.0,6289,6193.0,46.0,0.61,0.6,0.62,0.01,11.0,25.0,16.0,None,"POLYGON ((9187391.715 3637364.446, 9187395.330..."
102672,RGI60-13.51174,G082531E31034N,20090918,-9999999,82.0,31.0,13,8,0.0,6220.0,6296.0,6257.0,22.0,93.0,177.0,0,0.0,0.0,0.0,9.0,9.0,None,NaN,NaN,NaN,6262.0,6312,6196.0,52.0,NaN,NaN,NaN,NaN,0.0,5.0,1.0,None,"POLYGON ((9187391.715 3637364.446, 9187395.330..."

In [ ]:
# generate the report
profile = ProfileReport(gdf, title="Pandas Profiling Report")

In [ ]:
#save geodataframe as pickle
gdf.to_pickle('/mnt/d/3_DataViz/2_glaciers/2_shp/duplicated_glaciers.pkl')